version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=1156
      - DB_NAME=Alter
      - DB_DIALECT=postgres
      - PORT=3000
    depends_on:
      - db
    volumes:
      - .:/app
    # Use Dockerfile CMD for hot reload

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=Alter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1156
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
